sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '6'
before_script:
  - npm prune
script:
  - npm run build:travis
after_success:
  - npm run semantic-release
  - bash ./scripts/deploy.sh
branches:
  only:
  - master
  - /^greenkeeper-.*$/
env:
  global:
  - GH_USER: voorhoede
  - GH_REPO: fastatic
  - secure: GtsS5hMRIqtEcn/TnNWaIW9Ymh07nFkt/QuUNtJ+TcaYRlvoparaVK98LYMsn2U5+pmPI7/cKNkwhmLty7eRZaq6VQQ0ZMWXIQxXGwKd23PEmV+THtwez2ZBp7QGwjugomxiDl/A01QPm0Fcs8pts5Ygn4k4lyuMKzaI6ORh+q9tyokn+IMXwuE8uJ4YU7eMvWdl3ZqDuttR8FffArem0XjGmr+SAGE3LkLqQ5dDkk31jyQktJVG6g2ZDM/649vegY939NGDQ4ntPv8y3K6qSWl2AeMU9qHMdEdAGt3m0ChG9gjFqqa3CEK2wxRG9rd6fBVAf21Kr5zAKVw6BMsqyi9NMevfFZqy7qD4GaFMgjryof1xKlYgZ0jhdbgu/uUf6LDeqL+W41fvElRr6lG9Tftw1ajrEbPfw9X3WedxmZLtxqRgueuNfGiMv0ggVuqTQltIm1vjhDiz9NzeE6WSm7h7SIGqXK558QuH8Tyu+cKubsXk+4xcDd2eWSzMsE+2SNi2sEf0e51OcC7JbxmVuWWOH7FJerwkHG7lsrK8jkQZUnT4XSmfVlLg3KvNOgHO1LNp2n5EgoaC2iQLizfw/SdYHujhkw2Vm+5pclpXoaZqnbt9BcJm7lnANpwB7KzjtwrHJYHBX0vC5StUjcleqUzTLZw1g9rePAXGxpxYe84=
